<section class="sessao">
    <div class="menu-lateral">

        <span class="sec-titulo">
            Administrativo <br>
            <strong>{{NM_ENTIDADE}}</strong>
        </span>

        <a>
            DASHBORD
        </a>

        <a>
            PEDIDOS
        </a>

        <a [routerLink]="['/admin/categorias']">
            CATEGORIAS
        </a>

        <a [routerLink]="['/admin/produtos']">
            PRODUTOS
        </a>

        <a>
            PROMOÇÕES
        </a>

        <a>
            PERFIL
        </a>
    </div>

    <div class="componente">
        <router-outlet></router-outlet>
    </div>
</section>