<section class="sessao">
    <div class="menu-lateral">

        <span class="sec-titulo">
            Administrativo <br>
            <strong>{{NM_ENTIDADE}}</strong>
        </span>

        <a href="/admin/dashboard">
            DASHBORD
        </a>

        <a href="/admin/pedidos">
            PEDIDOS
        </a>

        <a href="/admin/categorias">
            CATEGORIAS
        </a>

        <a href="/admin/produtos">
            PRODUTOS
        </a>

        <a href="/admin/promocoes">
            PROMOÇÕES
        </a>

        <a href="/admin/perfil">
            PERFIL
        </a>
    </div>

    <div class="componente">
        <router-outlet></router-outlet>
    </div>
</section>