<section class="sessao">
    <div class="menu-lateral">
        <div class="logo-container">
            <img [src]="IMG_ENTIDADE" alt="LOGO-ENTIDADE" class="logo">
            <span class="sec-titulo">
                Administrativo <br>
                <strong>{{NM_ENTIDADE}}</strong>
            </span>
        </div>

        <a [routerLink]="['/admin/dashboard']">
            DASHBOARD
        </a>

        <a [routerLink]="['/admin/pedidos']">
            PEDIDOS
        </a>

        <a [routerLink]="['/admin/categorias']">
            CATEGORIAS
        </a>

        <a [routerLink]="['/admin/produtos']">
            PRODUTOS
        </a>

        <a [routerLink]="['/admin/promocoes']">
            PROMOÇÕES
        </a>

        <a [routerLink]="['/admin/perfil']">
            PERFIL
        </a>
    </div>

    <div class="componente">
        <router-outlet></router-outlet>
    </div>
</section>