<section class="componente">
    
    <span class="comp-titulo">
        Controle de Produtos
    </span>

    <div class="ferramentas">

        <button
        class="btn-ferramentas"
        (click)="incluirRegistro()">
            Incluir
        </button>

        <button
        class="btn-ferramentas">
            Alterar
        </button>

        <button
        class="btn-ferramentas">
            Consultar
        </button>

        <button
        class="btn-ferramentas">
            Excluir
        </button>

    </div>

    <table class="dataGrid"></table>
</section>

<dialog class="modal" #modal>

    <form #dataForm="ngForm">

        <label for="CD_PRODUTO">
            Código:
        </label>

        <label for="SN_ATIVO">
            Ativo:
        </label>

        <input
        type="checkbox"
        name="SN_ATIVO"
        id="SN_ATIVO"
        [(ngModel)]="dataRow.SN_ATIVO"
        >

        <input
        type="number"
        name="CD_PRODUTO"
        id="CD_PRODUTO"
        [(ngModel)]="dataRow.CD_PRODUTO"
        required
        >

        <label for="IMG_PRODUTO">
            Imagem:
        </label>

        <input
        type="file"
        name="IMG_PRODUTO"
        id="IMG_PRODUTO"
        [(ngModel)]="dataRow.IMG_PRODUTO"
        >

        <label for="NM_PRODUTO">
            Produto:
        </label>

        <input
        type="text"
        name="NM_PRODUTO"
        id="NM_PRODUTO"
        [(ngModel)]="dataRow.NM_PRODUTO"
        required
        >

        <label for="DS_PRODUTO">
            Descrição:
        </label>

        <textarea
        name="DS_PRODUTO"
        id="DS_PRODUTO"
        [(ngModel)]="dataRow.DS_PRODUTO"
        required
        ></textarea>

        <label for="ID_CATEGORIA">
            Categoria:
        </label>

        <select
        name="ID_CATEGORIA"
        id="ID_CATEGORIA"
        [(ngModel)]="dataRow.ID_CATEGORIA"
        required
        >
            <option hidden></option>
            <option *ngFor="let i of dataCategorias" [value]="i.ID_CATEGORIA">
                {{ (i.CD_CATEGORIA).toString().padStart(3, '0') + " - " + i.NM_CATEGORIA}}
            </option>
        </select>

        <label for="VL_CUSTO">
            Custo Total:
        </label>

        <label for="VL_PRODUTO">
            Preço Venda:
        </label>

        <input
        type="number"
        name="VL_CUSTO"
        id="VL_CUSTO"
        [(ngModel)]="dataRow.VL_CUSTO"

        >

        <input
        type="number"
        name="VL_PRODUTO"
        id="VL_PRODUTO"
        [(ngModel)]="dataRow.VL_PRODUTO"
        required
        >

        <div class="executores">
            <button
            type="submit"
            class="btn-modal">
                Salvar
            </button>

            <button
            type="button"
            class="btn-modal">
                Cancelar
            </button>
        </div>

    </form>
</dialog>