<section class="componente">
    
    <span class="comp-titulo">
        Controle de Produtos
    </span>

    <div class="ferramentas">

        <button
        class="btn-ferramentas"
        (click)="incluirRegistro()">
            Incluir
        </button>

        <button
        class="btn-ferramentas"
        [disabled]="!dataRow.ID_PRODUTO"
        (click)="editarRegistro()">
            Alterar
        </button>

        <button
        class="btn-ferramentas"
        [disabled]="!dataRow.ID_PRODUTO"
        (click)="consultaRegistro()">
            Consultar
        </button>

        <button
        class="btn-ferramentas"
        [disabled]="!dataRow.ID_PRODUTO">
            Excluir
        </button>

    </div>

    <table class="dataGrid">
        <thead>
            <tr>
                <th>Código:</th>
                <th>Produto:</th>
                <th>Valor:</th>
                <th>Ativo:</th>
            </tr>
        </thead>
        <tbody>
            <tr
            *ngFor="let i of dataGrid"
            (click)="dataRow.ID_PRODUTO = i.ID_PRODUTO"
            [ngClass]="{'linha': dataRow.ID_PRODUTO === i.ID_PRODUTO}"
            >
                <td class="CD_PRODUTO">
                    {{(i.CD_PRODUTO).toString().padStart(4,'0')}}
                </td>
                <td class="NM_PRODUTO">
                    {{i.NM_PRODUTO}}
                </td>
                <td class="VL_PRODUTO">
                    {{"R$ " + (i.VL_PRODUTO).replace('.',',')}}
                </td>
                <td class="SN_ATIVO">
                    {{i.SN_ATIVO ? "Sim" : "Não"}}
                </td>
            </tr>
        </tbody>
    </table>
</section>

<dialog class="modal" #modal>

    <form #dataForm="ngForm" (ngSubmit)="salvarRegistro()">

        <label for="CD_PRODUTO">
            Código:
        </label>

        <label for="SN_ATIVO">
            Ativo:
        </label>

        <input
        type="checkbox"
        name="SN_ATIVO"
        id="SN_ATIVO"
        [(ngModel)]="dataRow.SN_ATIVO"
        [disabled]="somenteLeitura"
        >

        <input
        type="number"
        name="CD_PRODUTO"
        id="CD_PRODUTO"
        [(ngModel)]="dataRow.CD_PRODUTO"
        [disabled]="somenteLeitura"
        required
        >

        <label for="IMG_PRODUTO">
            Imagem:
        </label>

        <input
        type="file"
        name="IMG_PRODUTO"
        id="IMG_PRODUTO"
        [(ngModel)]="dataRow.IMG_PRODUTO"
        [disabled]="somenteLeitura"
        (change)="tratarImagem($event)"
        >

        <label for="NM_PRODUTO">
            Produto:
        </label>

        <input
        type="text"
        name="NM_PRODUTO"
        id="NM_PRODUTO"
        [(ngModel)]="dataRow.NM_PRODUTO"
        [disabled]="somenteLeitura"
        required
        >

        <label for="DS_PRODUTO">
            Descrição:
        </label>

        <textarea
        name="DS_PRODUTO"
        id="DS_PRODUTO"
        [(ngModel)]="dataRow.DS_PRODUTO"
        [disabled]="somenteLeitura"
        required
        ></textarea>

        <label for="ID_CATEGORIA">
            Categoria:
        </label>

        <select
        name="ID_CATEGORIA"
        id="ID_CATEGORIA"
        [(ngModel)]="dataRow.ID_CATEGORIA"
        [disabled]="somenteLeitura"
        required
        >
            <option hidden></option>
            <option *ngFor="let i of dataCategorias" [value]="i.ID_CATEGORIA">
                {{ (i.CD_CATEGORIA).toString().padStart(3, '0') + " - " + i.NM_CATEGORIA}}
            </option>
        </select>

        <label for="VL_CUSTO">
            Custo Total:
        </label>

        <label for="VL_PRODUTO">
            Preço Venda:
        </label>

        <input
        type="number"
        name="VL_CUSTO"
        id="VL_CUSTO"
        [(ngModel)]="dataRow.VL_CUSTO"
        [disabled]="somenteLeitura"
        >

        <input
        type="number"
        name="VL_PRODUTO"
        id="VL_PRODUTO"
        [(ngModel)]="dataRow.VL_PRODUTO"
        [disabled]="somenteLeitura"
        required
        >

        <div class="executores" *ngIf="!somenteLeitura">
            <button
            type="submit"
            class="btn-modal"
            [disabled]="dataForm.invalid">
                {{salvarEditando ? "Salvar Alteração" : "Salvar Registro"}}
            </button>

            <button
            type="button"
            class="btn-modal"
            (click)="cancelarRegistro()">
                Cancelar
            </button>
        </div>

        <div class="executores" *ngIf="somenteLeitura">
            
            <button
            type="button"
            class="btn-modal"
            (click)="somenteLeitura=false;salvarEditando=true">
                Editar
            </button>

            <button
            type="button"
            class="btn-modal">
                Excluir
            </button>

            <button
            type="button"
            class="btn-modal"
            (click)="cancelarRegistro()">
                Voltar
            </button>

        </div>

    </form>
</dialog>

<dialog class="aviso" #aviso>

    <span>
        {{mensagem}}
    </span>

    <button (click)="fecharAviso()">
        Ok
    </button>

</dialog>