<section class="sub-componente">

    <div *ngIf="!telaRegistro">
        <div class="sub-executores">
            <button
            type="button"
            (click)="telaRegistro = true; dataRow.ID_PRODUTO = 0"
            [disabled]="somenteLeitura">
                Incluir
            </button>

            <button
            type="button"
            [disabled]="!dataRow.ID_PRODUTO || somenteLeitura"
            (click)="editarRegistro()">
                Alterar
            </button>

            <button
            type="button"
            [disabled]="!dataRow.ID_PRODUTO || somenteLeitura"
            (click)="excluirRegistro()">
                Excluir
            </button>
        </div>

        <table class="subgrid">
            <thead>
                <tr>
                    <th>Produto:</th>
                    <th>Valor Atual:</th>
                    <th>Percentual:</th>
                    <th>Valor Promocional:</th>
                    <th>Ativo:</th>
                </tr>
            </thead>
            <tbody>
                <tr
                *ngFor="let i of dataGrid"
                (click)="dataRow.ID_PRODUTO = i.ID_PRODUTO"
                [ngClass]="{'linha' : dataRow.ID_PRODUTO == i.ID_PRODUTO}">
                    <td>{{ produtoGrid(i.ID_PRODUTO) }}</td>
                    <td>{{i.VL_PRODUTO}}</td>   
                    <td>{{i.PC_PROMOCAO}}</td>
                    <td>{{i.VL_PROMOCAO}}</td>
                    <td>{{i.SN_ATIVO ? "Sim" : "Não"}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="telaRegistro">
        <form
        #dataForm="ngForm"
        (ngSubmit)="salvarEditando ? alteraRegistro() : salvarRegistro()">
            <div class="sub-executores">
                <button
                type="submit"
                [disabled]="dataForm.invalid">
                    {{ salvarEditando ? "Alterar" : "Salvar"}}
                </button>

                <button type="button" (click)="cancelarRegistro()">
                    Cancelar
                </button>
            </div>
    
            <label for="ID_PRODUTO">
                Produto:
            </label>
    
            <label for="SN_ATIVO">
                Ativo:
            </label>
    
            <input
            type="checkbox"
            name="SN_ATIVO"
            id="SN_ATIVO"
            [(ngModel)]="dataRow.SN_ATIVO"
            >

            <select
            name="ID_PRODUTO"
            id="ID_PRODUTO"
            [(ngModel)]="dataRow.ID_PRODUTO"
            (ngModelChange)="selecaoProduto($event)"
            >
                <option hidden></option>
                <option *ngFor="let i of dataProdutos" [value]="i.ID_PRODUTO">
                    {{i.CD_PRODUTO + ' - ' + i.NM_PRODUTO}}
                </option>
            </select>
    
            <label for="VL_PRODUTO">
                Valor Atual:
            </label>
            
            <label for="PC_PROMOCAO">
                Percentual:
            </label>
                    
            <label for="VL_PROMOCAO">
                Valor Promocional:
            </label>
    
            <input
            type="number"
            name="VL_PRODUTO"
            id="VL_PRODUTO"
            [(ngModel)]="dataRow.VL_PRODUTO"
            disabled
            >
    
            <input
            type="number"
            name="PC_PROMOCAO"
            id="PC_PROMOCAO"
            min="1" max="99"
            [(ngModel)]="dataRow.PC_PROMOCAO"
            (ngModelChange)="calcularValor($event)"
            required
            >
    
            <input
            type="number"
            name="VL_PROMOCAO"
            id="VL_PROMOCAO"
            min="0.1" max="99999"
            [(ngModel)]="dataRow.VL_PROMOCAO"
            (ngModelChange)="calcularPercentual($event)"
            required
            >

        </form>
    </div>
</section>

<dialog class="aviso" #aviso>
    <span>
        {{mensagem}}
    </span>
    <button>
        Ok
    </button>
</dialog>