<section class="componente">

    <span class="comp-titulo">
        Controle de Promoções
    </span>

    <div class="ferramentas">
        <button
        class="btn-ferramentas"
        (click)="incluirRegistro()">
            Incluir
        </button>

        <button
        class="btn-ferramentas"
        [disabled]="!dataRow.ID_PROMOCAO"
        (click)="editarRegistro()">
            Alterar
        </button>

        <button
        class="btn-ferramentas"
        [disabled]="!dataRow.ID_PROMOCAO"
        (click)="consultaRegistro()">
            Consultar
        </button>

        <button
        class="btn-ferramentas"
        [disabled]="!dataRow.ID_PROMOCAO"
        (click)="excluirRegistro()">
            Excluir
        </button>
    </div>

    <table class="dataGrid">
        <thead>
            <tr>
                <th>Código:</th>
                <th>Promoção:</th>
                <th>Inicio:</th>
                <th>Final:</th>
            </tr>
        </thead>
        <tbody>
            <tr
            *ngFor="let i of dataGrid"
            (click)="dataRow.ID_PROMOCAO = i.ID_PROMOCAO"
            (dblclick)="consultaRegistro()"
            [ngClass]="{'linha' : dataRow.ID_PROMOCAO == i.ID_PROMOCAO}">
                <td>
                    {{(i.CD_PROMOCAO).toString().padStart(3, '0')}}
                </td>

                <td>
                    {{i.NM_PROMOCAO}}
                </td>

                <td>
                    {{i.DT_INICIO}}
                </td>

                <td>
                    {{i.DT_FINAL}}
                </td>
            </tr>
        </tbody>
    </table>
</section>

<dialog class="modal" #modal>
    <form
    #dataForm="ngForm"
    (ngSubmit)="salvarEditando ? alteraRegistro () : salvarRegistro()">

        <label for="CD_PROMOCAO">
            Código:
        </label>

        <input
        type="number"
        name="CD_PROMOCAO"
        id="CD_PROMOCAO"
        [(ngModel)]="dataRow.CD_PROMOCAO"
        [disabled]="somenteLeitura"
        required
        >

        <label for="DT_INICIO">
            Início:
        </label>

        <label for="DT_FINAL">
            Final:
        </label>

        <input
        type="date"
        name="DT_INICIO"
        id="DT_INICIO"
        [(ngModel)]="dataRow.DT_INICIO"
        [disabled]="somenteLeitura"
        required
        >

        <input
        type="date"
        name="DT_FINAL"
        id="DT_FINAL"
        [(ngModel)]="dataRow.DT_FINAL"
        [disabled]="somenteLeitura"
        required
        >

        <label for="NM_PROMOCAO">
            Promoção:
        </label>

        <input
        type="text"
        name="NM_PROMOCAO"
        id="NM_PROMOCAO"
        [(ngModel)]="dataRow.NM_PROMOCAO"
        [disabled]="somenteLeitura"
        required
        >

        <label for="DS_PROMOCAO">
            Descrição:
        </label>

        <textarea
        name="DS_PROMOCAO"
        id="DS_PROMOCAO"
        [(ngModel)]="dataRow.DS_PROMOCAO"
        [disabled]="somenteLeitura"
        ></textarea>

        <app-itens></app-itens>

        <div class="executores" *ngIf="!somenteLeitura">
            <button
            type="submit"
            class="btn-modal"
            [disabled]="dataForm.invalid || (itens ? itens.telaRegistro : false)">
                {{ salvarEditando ? "Salvar Alteração" : "Salvar Registro"}}
            </button>

            <button
            type="button"
            class="btn-modal"
            (click)="cancelarRegistro()">
                Cancelar
            </button>
        </div>

        <div class="executores" *ngIf="somenteLeitura">
            <button
            type="button"
            class="btn-modal"
            (click)="salvarEditando=true;somenteLeitura=false;itens.somenteLeitura=false">
                Editar
            </button>
            
            <button
            type="button"
            class="btn-modal"
            (click)="excluirRegistro()">
                Excluir
            </button>

            <button
            type="button"
            class="btn-modal"
            (click)="cancelarRegistro()">
                Voltar
            </button>
        </div>
    </form>
</dialog>

<dialog class="aviso" #aviso>
    <span>
        {{ mensagem }}
    </span>

    <button type="button" (click)="fecharAviso()">
        Ok
    </button>
</dialog>